<div class="container ">
    <div class="m-3  row text-center">
        <h1>{{peliActual.Title}}</h1>
    </div>

    <div class="m-3  row text-center">
        <img src={{peliActual.Poster}}> 
    </div>
    
    <div class="m-3  row text-center">
        <div class="col">
        </div>
        <div class="m-3  row text-center">
        </div>
    </div>


</div>

<div>
    
    <h2>
        {{peliActual.Language}}
    </h2>
    <h2>
        {{peliActual.Year}}
    </h2>
    <h2>
        {{peliActual.Plot}}
    </h2>
    
    <img src={{peliActual.Poster}}>
</div>